.home.index {
  .row {
    .content {
      padding: 10px;
      margin-bottom: 5px;


      p {
        color: white;
      }

      i {
        color: white;
        float: right;
        margin-top: 8%;
        font-size: 60px;
      }
    }
  }
  
}