section.shared-sidebar {
  top: 0;
  bottom: 0;
  position: fixed;
  overflow: hidden;
  left: 0;
  width: 190px;
  z-index: 5;
  transition: width 0.5s;
  background: #E6E7E8;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 0 2px 0 rgba(0,0,0,0.24);

  a{
    width: 161px;

    img {
      max-width: 100%;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-left: 5px;

      a {
        line-height: 34px;
        font-size: 15px;
        color: #757575;
        white-space: nowrap;
      }

      .fa {
        font-size: 20px;
        margin-right: 10px;
      }
    }

    li:hover {
      .fa {
          color: #F36C21
      }
    }

  }
}