p = link_to 'Products', products_path
p = link_to 'Suppliers', suppliers_path
p = link_to 'Exports', exports_path
p = link_to 'Exported Items', exported_items_path
p = link_to 'Imports', imports_path
p = link_to 'Imported Items', imported_items_path
