body {
  position: relative;
  padding-left: 181px;
  padding-top: 101px;
  background: #F1F2F2;
}

main {
  padding: 15px;

  li {
    display: inline;
  }
}

h1 {
  padding: 0 0 15px 0;
  margin: 0;
  letter-spacing: 0;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 26px;
  color: #029FA7;
  display: inline-block;
}

p.button-new {
  float: right;
  width: 10%;
  text-align: center;
  border: 5px solid #029FA7;
  border-radius: 5px;
  background-color: #029FA7;

  a {
    color: white;
    display: block;
  }
}
.block {
  margin: 20px 0;
  padding: 20px 20px;
  background: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.24);
}

li {
  list-style: none;
}

li:last-child {
  margin-left: 40px;
}

th {
  text-align: center;
}

td {
  text-align: center;
}