= simple_form_for @export_filter, url: '', method: :get do |f|
  = f.input :user_id, collection: User.all, label: t('table.exports.user_name')
  = f.button :submit, t('common.search'), class: 'color-btn'